• What do you hope to accomplish with the proposed project?

• How do the project/system’s goals map to the department goals or needs?

• What department/business requirements will this project/system address?

• What problems should this project/system solve?

• Do you have to do things manually that you would like to automate?

• What resources might be needed (budget, staff, etc)

• What is most important for success of the project?

• Will the new project/system help you be more efficient?
  o To what extent?

• What needs to happen to make this project/system successful?

• What will this project/system do that is entirely new?
